/* .ui-state-highlight{ display: none;} */
.hidden{ display: none;}
#growl{ z-index: 999999}
/* .maincontent{ margin-top:115px; } 
.margintop{ margin-top:125px; } */
.maincontent form{ width: 100%;}
.maincontent .title{ margin-top: 10px}
.maincontent .title .fa-home{ padding-right: 15px}
.masthead-subheading a{ color: white;}
.asset_form label,.editasset label{ min-width: 180px}
.asset_form{ padding-bottom: 100px}
.outputLabel{font-weight: bold;}
 #j_idt13 .ui-inputswitch, #j_idt13 .ui-inputswitch-handle,#j_idt13 .ui-state-active{ min-height: 30px}
 .frm_aaset_list .po a{ color: green;}

.container .fa-laptop, .container .fa-list {
    font-size: 5rem;
    line-height: 1;
    color: #24b663;
}
.frmitindex .fa {
    font-size: 50px;
    color: white;
    background: linear-gradient(-45deg, #3b87bd, #2d71a2);
    border-radius: 50%;
    padding: 20px 25px;
}
.ui-wizard-nav-next .ui-button-text,.ui-wizard-nav-back .ui-button-text{ background-color: #4BADEF; color: white; font-weight: normal;text-align: center;border: 1px solid #4BADEF;    border-radius: 2px;}
 .ui-outputlabel-rfi{color: red}
 .ui-state-error{color: black}

 /* Asset Create Form */
.asset_form input.ui-state-error{color: black; }
 .asset_form .row{margin-bottom: 15px; }
 .asset_form label{display: block}
 .asset_form input{ width: 80% }
 
 .stv label {min-width: 115px;}

/* Footer  */
.global-footer {
    
    color: white;
    background-color: #2c3e50!important;
    padding: 10px;
}
div.footer-copyright {
    padding: 20px 0 10px;
    text-align: center;
}
div.footer-copyright nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div.footer-copyright nav ul li {
    border-left: 1px solid #ffffff;
    display: inline-block;
    line-height: 12px;
    margin: 0;
    padding: 0 8px;
}
div.footer-copyright nav ul li:first-child {
    border: medium none;
    padding-left: 0;
}
.global-footer a{ color: white;}
.global-footer a:hover{ color: #9d9d9d; text-decoration: none;}

