.hidden{ display: none;}
#growl{ z-index: 999999}
/* .maincontent{ margin-top:115px; } 
.margintop{ margin-top:125px; } */
.maincontent form{ width: 100%;}
.maincontent .title{ margin-top: 10px}
.maincontent .title .fa-home{ padding-right: 15px}
.masthead-subheading a{ color: white;}
.asset_form label,.editasset label{ min-width: 180px}
.asset_form{ padding-bottom: 100px}
.outputLabel{font-weight: bold;}
/* Footer  */
.global-footer {
    
    color: white;
    background-color: #2c3e50!important;
    padding: 10px;
}
div.footer-copyright {
    padding: 20px 0 10px;
    text-align: center;
}
div.footer-copyright nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div.footer-copyright nav ul li {
    border-left: 1px solid #ffffff;
    display: inline-block;
    line-height: 12px;
    margin: 0;
    padding: 0 8px;
}
div.footer-copyright nav ul li:first-child {
    border: medium none;
    padding-left: 0;
}
.global-footer a{ color: white;}
.global-footer a:hover{ color: #9d9d9d; text-decoration: none;}

